.education-section {
    height: 100vh;
}

.white {
    color: #fff;
}

.education-container {
    height: 60vh;
    background-color: white;
    border-radius: 25px;
}

.edu-content {
    margin: 2% 0;
}

.pos {
    text-align: center;
}
  