.intro-row {
    height: 100%;
}

.intro-col {
    height: 100vh;
}

/* Title Information & Links */

.title-section {
    text-align: center;
    margin-top: 10%;
}

.white {
    color: #fff;
}

.title {
    font-size: 3em;
    color: #fff;
    position: relative;
} 

.desc {
    font-size: 1.5em;
    color: #fff;
}


